/* Update your CSS file (e.g., ProductCard.css) */

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Adjust the height as needed */
}

.swipe {
    position: absolute;
    width: 100%;
    height: 400px;
    max-width: 400px; /* Set the maximum width of the card */
}

.card {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    color: white; /* Set text color */
    box-sizing: border-box;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

/* Add a shadow on hover for a better visual effect */
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
